spring:
  application:
    name: Pairing-Planet

  profiles:
    active: dev

  jackson:
    date-format: "yyyy-MM-dd'T'HH:mm:ss'Z'"
    time-zone: UTC

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  lifecycle:
    timeout-per-shutdown-phase: 30s

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:446195380506-6p6sg5vfeurj51ld5r9cp9deuq0j0hjh.apps.googleusercontent.com}
server:
  port: 4001
  shutdown: graceful
  servlet:
    encoding:
      charset: UTF-8
      force: true

internal:
  api:
    key: ${INTERNAL_API_KEY:pairing-planet-bot-default-key}




