<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003324647842-pdml00e8ebsnudh7gk7kd4htbrerk0eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003324647842-pdml00e8ebsnudh7gk7kd4htbrerk0eo</string>
	<key>API_KEY</key>
	<string>AIzaSyDUhuZuZ1ZiR3YI_7vqVyN9TYqrtPUYEas</string>
	<key>GCM_SENDER_ID</key>
	<string>1003324647842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pairingplanet.pairingplanetfrontend</string>
	<key>PROJECT_ID</key>
	<string>pairing-planet-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>pairing-planet-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003324647842:ios:4f28e6d9917c2cdd5d6afb</string>
</dict>
</plist>